:host {
  display: block;
  font-family: 'Prompt', sans-serif;
  margin-top: 1rem;
}

.table-container {
  background-color: #f7f9fc;
  border-radius: 8px;
  border: 1px solid #e0e0e0;
  overflow: hidden;
  box-shadow: 0 4px 12px rgba(0,0,0,0.03); // Slight depth to enhance Material look
}
