/* You can add global styles to this file, and also import other style files */
@use './styles/material-custom.scss';
@use '@angular/material' as mat;

@include mat.core();

$theme: mat.define-theme((
  color: (
    theme-type: light,
  ),
  typography: (
    brand-family: 'Prompt, sans-serif',
    plain-family: 'Prompt, sans-serif',
  ),
));

// Output the theme color and typography definitions
html {
  @include mat.all-component-themes($theme);
}

html, body { height: 100%; }
body { margin: 0; font-family: 'Prompt', "Helvetica Neue", sans-serif; }
